div {
    text-align:right;
    padding:-5; 
    margin: 0 auto;
    height:60px;
    background-color:black ;
    
}

a {
    padding:-20 ;
    color: #0dad88;
    font-size:50 ;
    
    
}
a:hover {
    color: crimson;
    font-size:60 ;
}
div:hover {
    
}